[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
raddoo = "*"
flask = "*"
gunicorn = "*"
flask-cors = "*"
toml = "*"
requests = "*"
psycopg2 = "*"
flake8 = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
